@import url("./all.css");

/* index page */
.banner-profile {
  display: flex;
  width: 100%;
  height: calc(100vh - 90px); /* 90px 是 navbar 的高度，製造好看的畫面(滿版) */
}

.banner-photo {
  width: 50%;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-web-camp/desktop/index/Hero%20Section.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0027d5;
  padding-left: 80px;
  gap: 12px;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-web-camp/desktop/index/Hero%20Section2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-title {
  font-size: 120px;
  font-weight: 900;
}

.banner-description {
  font-size: 28px;
  font-weight: 700;
}

.banner-intro {
  position: relative;
  padding: 80px 40px;
  width: 56%;
  right: 0;
  bottom: 160px;
  margin-right: 80px;
  margin-left: auto;
  font-size: 28px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加陰影 */
}

.banner-intro p {
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-links-item {
  color: #0027d5;
  list-style: none;
  font-size: 24px;
}

/* 平板裝置的媒體查詢 */
@media (max-width: 992px) {
  .banner-text {
    padding-left: 40px;
  }
}

/* 小型平板與大型手機的媒體查詢 */
@media (max-width: 767px) {
  .banner {
    flex-direction: column;
  }

  .banner-profile {
    flex-direction: column;
    height: auto;
  }

  .banner-photo,
  .banner-text,
  .banner-intro {
    width: 100%;
  }

  .banner-photo {
    height: calc(
      100vh - 90px - 180px
    ); /* 減去 navbar 的高度和 banner-text 的高度 */
  }

  .banner-text {
    padding: 24px;
    text-align: center;
  }

  .banner-title {
    font-size: 52px;
  }

  .banner-intro {
    position: unset;
  }
}
